.jumbotron {
    background-image: url("/Users/user/Desktop/pexels-photo-1100538.jpeg");
    background-size: cover;
  }

  /* body{

    background-image: url("//Users/user/Desktop/pexels-photo-1100538.jpeg");

  } */

#icon{
    position: relative;
    float: right;
    top: 10px;
}

.row1   {

    background-color: whitesmoke;
    
}

h3{

font-size: 20px;
margin-top: 20px;

}

.eventDiv{
margin-top: 8px;
margin-bottom: 8px;

}
#ik_player_iframe  {

    margin-left: 70px;
    margin-top: 20px;
}
