.jumbotron {
    background-image: url("817326.jpg");    
}

body{

    background-image: url("817326.jpg");
    background-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}

.lead {

    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#icon{
    position: relative;
    float: right;
    top: 10px;
    color: white;
}

h1  {

    font-size: 40px;
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

h3, h5, h6  {

    color:lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h3{
    margin-top: 20px;
}

#search {

    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.eventDiv{
    margin-top: 8px;
    margin-bottom: 8px;

}

.spacerDiv{
    margin-bottom: 30px;
}  

.vidWindow {
    align-content: center;
    margin-left: 100px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;   
} 

img {
    float: left;
}

#cBlockOne  {

    border-radius:  15px;
    border-style: solid;
    background-color: rgb(9, 43, 56);
}

#cBlockTwo  {

    background-color: rgb(9, 43, 56);
    border-style: solid;
    border-radius:  15px;
}

.pull-right {

    position: absolute;
    top: 0px;
    left: 0px;
}