.jumbotron {
    /* background-image: url("/Users/user/Desktop/coolstuff/572528.jpg"); */
    background-size: 2600px 500px;
    padding: 100px;

  }
#search{
    position: relative;
    left: 20px;
    top: -10px;
    /* width: 500px */
}
#icon{
    position: absolute;
    float: left;
}

#submit{

    margin-left: 2%;

}

.col   {

    margin-bottom: 30px;
}

h3{

font-size: 20px;
margin-top: 20px;

}